#
node_modules/*
bower_components/*
vendor/*
tests/*
.idea/*

#
.git*
.sync-config.cson
.remote-sync.json
.editorconfig
LICENSE*
README*

[cCgGeE]tags
[cCgGeE]TAGS
.DS_Store
._.DS_Store
.apdisk
Thumbs.db
.tags
*.swp
*.lck
*.lock
*.*~
*~
