#
node_modules/*
vendor/*
tests/*
.idea/*

#
.sync-config.cson
.remote-sync.json
.editorconfig

#
[cCgGeE]tags
[cCgGeE]TAGS
.DS_Store
._.DS_Store
.apdisk
Thumbs.db
.tags
*.swp
*.lock
*.lck
*.*~
*~

!.gitkeep
